= form_for @resident do |f|
  - if @resident.errors.any?
    #error_explanation
      %h2= "#{pluralize(@resident.errors.count, "error")} prohibited this resident from being saved:"
      %ul
        - @resident.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :house_number
    = f.number_field :house_number
  .field
    = f.label :road
    = f.text_field :road
  .field
    = f.label :email_address
    = f.text_field :email_address
  .actions
    = f.submit 'Save'
