%p#notice= notice
.page-header
  %h1 Resident

%form.form-horizontal
  .form-group
    %label.col-sm-2.control-label House No
    .col-sm-10
      %p.form-control-static= @resident.house_number
  .form-group
    %label.col-sm-2.control-label Road
    .col-sm-10
      %p.form-control-static= @resident.road
  .form-group
    %label.col-sm-2.control-label Email Address
    .col-sm-10
      %p.form-control-static= @resident.email_address
  .form-group
    .col-sm-offset-2.col-sm-10
      = link_to 'Edit', edit_resident_path(@resident), class: 'btn btn-primary'
      = link_to 'Back', residents_path
