!!!
%html
  %head
    %title Fairfield Road
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render 'layouts/navigation'
    = yield
    %footer.footer
      .container
        %p © Fairfield Road, Winchester, United Kingdom 2014
